.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

.sticky-header .main-bar {
    min-height: 90px;
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .header-nav .logo-header {
        display: none;
    }
}

@media (max-width: 767px) {
    .main-slider .sub-title {
        font-size: 14px !important;
    }
    .main-slider .title {
        font-size: 42px !important;
    }

    .main-slider .btn {
        font-size: 16px !important;
        margin-bottom: 10px !important;
    }
}
